{% extends 'cashflow/base.html' %} 


{% block content %}

<div class="container bg-secondary rounded mt-5 mb-5 p-4 w-50">
	<form method="post">
		{% csrf_token %} 
		{{ form.media.js }}

		<div>
			<label class="form-label text-white">Дата:</label>
			<div class="row ps-2 pe-2">{{ form.date_created }}</div>
		</div>
		<div>
			<label class="form-label text-white">Статус:</label>
			{{ form.status_act }}
		</div>
		<div>
			<label class="form-label text-white">Тип:</label>
			{{ form.type_act }}
		</div>
		<div>
			<label class="form-label text-white">Категория:</label>
			{{ form.category_act }}
		</div>
		<div>
			<label class="form-label text-white">Подкатегория:</label>
			{{ form.subcategory_act }}
		</div>
		<div>
			<label class="form-label text-white">Сумма:</label>
			{{ form.amount }}
		</div>
		<div>
			<label class="form-label text-white">Комментарий:</label>
			{{ form.comment }}
		</div>

		<button type="submit" class="btn btn-primary mt-3">Создать запись</button>
	</form>
</div>

{% endblock %}
